.balance {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #f2f5f2;
    padding: 2vw 0;
}

.balance h1 {
    text-align: center;
    font-family: 'Domaine Display';
}

.item-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-list {
    width: 250px;
    margin: 5px;
}

.total-budget {
    border-radius: 32px;
    padding: 16px 32px;
}

.over {
    background: #edafaf;
}

.under {
    background: #becbbe;
}