.budget {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 100%;
    padding: 5vw 0 2vw;
}

input {
    width: 250px;
    line-height: 30.4px;
    text-align: center;
}